:host {
    display: inline-block;
    position: relative;
    font-size: 0;
    overflow: hidden;
    width: 100%;
}

:host * {
    box-sizing: border-box;
}

:root {
    width: 100%;
}

.painter {
    width: 100%;
}

.grid-painter {
    --r: 50%;
    position: relative;
    width: 100%;
    aspect-ratio: var(--ratio);
    isolation: isolate;
    .layer {
        mix-blend-mode: multiply;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(var(--column), 1fr);
        grid-template-rows: repeat(var(--row), 1fr);
        transform: rotate3d(0, 0, 1, calc(var(--rad) * 1rad)) scale(var(--scale-x), var(--scale-y));
        .cell {
            background: var(--color);
            border-radius: 100%;
            transform: scale(calc(var(--size) * 1.5));
            clip-path: polygon(
                calc(var(--r) + var(--r) * cos(0)) calc(var(--r) + var(--r) * sin(0)),
                calc(var(--r) + var(--r) * cos(var(--sl))) calc(var(--r) + var(--r) * sin(var(--sl))),
                calc(var(--r) + var(--r) * cos(var(--sl) * 2)) calc(var(--r) + var(--r) * sin(var(--sl) * 2)),
                calc(var(--r) + var(--r) * cos(var(--sl) * 3)) calc(var(--r) + var(--r) * sin(var(--sl) * 3)),
                calc(var(--r) + var(--r) * cos(var(--sl) * 4)) calc(var(--r) + var(--r) * sin(var(--sl) * 4)),
                calc(var(--r) + var(--r) * cos(var(--sl) * 5)) calc(var(--r) + var(--r) * sin(var(--sl) * 5))
            );
        }
    }
}

.grid-painter {
    &.triangle .cell {
        border-radius: 0;
        --sl: 1turn / 3;
    }
    &.rectangle .cell {
        border-radius: 0;
        --sl: 1turn / 4;
    }
    &.hexagon .cell {
        border-radius: 0;
        --sl: 1turn / 6;
    }
    &.char .cell {
        color: var(--color);
        background: unset;
        border-radius: 0;
        font: 900 calc(100cqh / var(--row)) monospace;
        position: relative;
        &::before {
            position: absolute;
            content: var(--char);
        }
    }
}

#img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    visibility: hidden;
}
